@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Ubuntu&display=swap');
* {
    margin: 0%;
    padding: 0%;
}
body{
  background-image: url(./th.jpg);
background-size: cover ;

}
  .Nav {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    height: 40px;
    padding: 10px;
    padding-top: 20px;
  }
  h1 {
    float: left;
    color:black;
    cursor: pointer;
  }
  .btn {
    float: right;
    padding: 10px;
    background-color: #c897f0a3;
    cursor: pointer;
    border-radius: 10px;
  }
  .btn:hover {
    background-color: #6E85B2;
    color:white;
    
  }
  .row {
    margin: 50px;
  }
  .column {
    float: left;
    width: 23%;
    padding: 10 10px;
    margin: 20px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    background-color:ghostwhite ;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .card-img-top {
   border-radius: 50%;
    height: 40%;
    width: 40%;
    border: 2px solid white;
  }
  .card-title {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .card-text {
    color: grey;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .card:hover{
    box-shadow: 0px 0px 5px 5px white;
    cursor: pointer;
  }
  .card:hover .card-text{
color:#6E85B2 ;
  }